.dialogs{
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialogsItem{
    padding: 10px;
}

.dialogsItem .active{
    color: yellow;
}


.messages{
    padding: 10px;
}

.messages .message{

}

.sendMessage{
    padding-left: 170px;
}
